@import '../../styles/all.scss';

.row {
  display: flex;
  align-items: center;
  margin: 4px 0;

  > * {
    flex: 1;
  }
}

.row + .row {
  margin-top: 10px;
}

.col {
  display: flex;
  flex-direction: column;
  margin: 4px 0;
}

.container-box {
  position: relative;
  margin: 15px;
  padding: 15px 10px;
  border: 1px solid $color-border;

  &::before {
    content: attr(data-title);
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, -50%);
    background: inherit;
    padding: 0 2px;
  }

  &.align-right {
    .row > label {
      text-align: right;
    }

    .row > label.checkbox {
      text-align: left;
    }
  }
}

.container-list {
  $tools-size: 24px;

  border: 1px solid $color-border;
  background: $color-white;
  position: relative;
  padding: 1px;
  padding-bottom: $tools-size + 2px;

  .list-items {
    width: 100%;
    height: 100%;
    overflow: auto;

    .list-item {
      padding: 2px 3px;

      transition: 0.2s ease;
      transition-property: background color;

      &:hover {
        background: adjust-light($color-blue, 0.1);
      }

      &:active {
        background: adjust-light($color-blue, 0.05);
      }

      &.selected {
        background: $color-blue;
      }
    }
  }

  .list-tools {
    position: absolute;
    bottom: 1px;
    right: 1px;
    display: flex;

    .list-tool {
      margin: 0;
      padding: 0;
      width: $tools-size;
      height: $tools-size;
      position: relative;

      $tool-height: 2px;
      $tool-width: 60%;

      &.list-add {
        &::after,
        &::before {
          @include ab-center;
          content: '';
          width: $tool-width;
          height: $tool-height;
          background: $color-blue;
        }

        &::after {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }

      &.list-remove {
        &::before {
          @include ab-center;
          content: '';
          width: $tool-width;
          height: $tool-height;
          background: $color-blue;
        }
      }

      &.list-duplicate {
        $tool-size: 10px;
        $offset-delta: 7%;

        &::after,
        &::before {
          @include ab-center;
          content: '';
          width: $tool-size;
          height: $tool-size;
          border-radius: 50%;
          border: 1px solid $color-blue;
        }

        &::before {
          top: 50% + $offset-delta;
          left: 50% + $offset-delta;
          background: $color-blue;
        }

        &::after {
          top: 50% - $offset-delta;
          left: 50% - $offset-delta;
        }
      }
    }
  }
}

body,
html,
div {
  background-color: $color-gray;
}
