:root {
  --c-primary: #59aeff;
  --c-white: #ffffff;
  --c-blue: #59aeff;
  --c-gray: #f0f0f0;
  --c-border: #d7d7d7;
  --c-bg: #e1e1e1;
}

$color-white: var(--c-white);
$color-blue: var(--c-blue);
$color-gray: var(--c-gray);
$color-border: var(--c-border);
$color-bg: var(--c-bg);
