// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//   -webkit-appearance: none !important;
//   margin: 0;
// }

input {
  margin: 0 4px;
}

input[type='text'],
input[type='number'] {
  #utils > .border;
  outline: none;
  padding: 2px;
  transition: border ease 0.4s;
  width: 200px;
}

input[type='checkbox'] {
  position: relative;
  width: 0em;
  height: 1em;
  margin: 0 0.5em;
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -0.5em;
  }

  &::before {
    width: 12px;
    height: 12px;
    border: 1px solid @color-border;
    background: @color-white;
    transform: translateY(-50%);
    transition: border ease 0.4s;
  }

  &::after {
    width: 2px;
    height: 5px;
    border: 2px solid @color-blue;
    border-color: transparent;
    transform: translate(4px, calc(-50% - 1px)) rotate(45deg);
  }

  &:hover {
    &::before {
      border: 1px solid @color-blue;
    }
  }

  &:checked {
    &::before {
      border: 1px solid @color-blue;
    }

    &::after {
      border-color: transparent @color-blue @color-blue transparent;
    }
  }

  &:disabled {
    &::before {
      border: 1px solid @color-border;
      background: darken(@color-bg, 1%);
    }

    &:hover {
      cursor: not-allowed;
    }
  }

  &:disabled:checked {
    &::after {
      border-color: transparent darken(@color-border, 20%) darken(@color-border, 20%) transparent;
    }
  }
}
